@tailwind base;
@tailwind utilities;
@tailwind components;



body {
    margin: 0;
    font-family: Arial, sans-serif;

}
.routine-page{
    background-image: url('/photoAG.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 2rem;
    width: 100%;
    
}
.result-page{
    background-image: url('/photoAF.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 2rem;
    width: 100%;
    
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-radius: 12px;
    background-color: aliceblue;
    width:100%;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
    margin-left: auto;
}
.navbar ul il {
    display: inline;
    padding: 5px 10px ;
    margin: 0 10px;
    cursor: pointer;
}

.navbar-heads {
    display: inline;
    padding: 5px 10px ;
    margin: 0 10px;
    cursor: pointer;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
.selection-box {
    margin: 20px 0;
    padding: 10px;
    max-width: 200px;
    max-height: fit-content;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
}
.selection-box:hover {
    background-color: #e0f7fa;
    border-color: #00acc1;
}


.bg-custom {
  background-image: url('/photoAA.jpg'); /* image in public folder */
  background-size: cover;   /* like Tailwind’s bg-cover */
  background-position: center; /* like bg-center */
}

.home-page {
    background-image: url('/photoAH.jpg');
    background-size: cover;
    background-position: center;
}
.head-title {
    margin-top: 3em;
    color: #1e293b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.head-result {
    text-shadow: 1px 1px 2px rgba(102, 102, 102, 0.461);

}

